
.cardGeral{
    margin-top: 1em;
    margin-left: 1em;
    text-align: center;
    width: 15rem; 
    margin-right:1.5rem ; 
    margin-bottom: 1.5rem;
    overflow: hidden;
    position: relative;

    

}

.image img{
    overflow: hidden;
    position: relative;
    width: 12rem;
}

.image:hover .overView{

    transform: translatey(0%);
    
}

.overView{
    height: 18rem;
    border-radius: 10px;
    transform: translate(100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ed9121;
    padding: 1em;
    overflow: auto;
}

.overView::-webkit-scrollbar {
    width: 0.2em;
    height: 0.2em;
  }



.star{
    margin-left: 1.5em;
    color: #ed9121;
}

.infoDescription{
    display: flex;
    justify-content: space-between;
}

.voter{
    padding-right: 2.9rem;
}



.btnAdd{
    font-family: "Inter";
    margin-right: 1.7rem;
    width: 5rem;
    background-color:#ed9121 ;
 
    border-radius: 10px;
}


.divConfirmacao{
    background-color: #ed9121;
    height: 4rem;
    border-radius: 0.5rem;
}

.btnConfirm{
    background-color:#0ACF83;
    margin-right: 0.2rem;
    width: 4.5rem;
    border-radius: 0.5rem;
    border-color: #6d6d6d;
    border-width: 0.1rem;
}

.btnNconfirm{

    background-color:#e03430;
    width: 4.5rem;
    border-radius: 0.5rem;
    border-color: #6d6d6d;
    border-width: 0.1rem;
}