
.cardGeral{
    margin-top: 1em;
    margin-left: 1em;
    text-align: center;
    width: 15rem; 
    margin-right:1.5rem ; 
    margin-bottom: 1.5rem;
    overflow: hidden;
    position: relative;

}

.image img{
    overflow: hidden;
    position: relative;
    width: 12rem;
}

.image:hover .overView{

    transform: translatey(0%);
    
}

.overView{
    height: 18rem;
    border-radius: 10px;
    transform: translate(100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ed9121;
    padding: 1em;
    overflow: auto;
}

.overView::-webkit-scrollbar {
    width: 0.2em;
    height: 0.2em;
  }



.star{
    margin-left: 1.5em;
    color: #ed9121;
}

.infoDescription{
    display: flex;
    justify-content: space-between;
}

.voter{
    padding-right: 2.9rem;
}



.btnAdd{
    font-family: "Inter";
    margin-right: 1.7rem;
    width: 5rem;
    background-color:#0ACF83 ;
 
    border-radius: 10px;
}

.btnAdd2{
    font-family: "Inter";
    margin-right: 1.7rem;
    width: 5rem;
    background-color:#ed9121;
    border-radius: 10px;
}
