.footer{
    text-align: center;
    padding: 2em;
}


.redesSociais{
    list-style: none;
    display: flex;
    justify-content:center;
}

.redesSociais a{
    color: black;
    margin: 0 0.5em;
}
    
.redesSociais a:hover{
    color: #ed9121;
}

