.divPosition{
    margin-left: 20vw;
    height: 35vw;
    width: 64vw;
}

.title{
    font-size: 25px;
}


.centerDiv{
    text-align: center;
    margin-top: 0.5vw;
    margin-left: 20vw;
}

.divPesquisa{ 
   
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    overflow-y:auto; 
    margin-top: 0.2vw;
    width: 64vw;
    height: 29vw;
 }

.divPesquisa::-webkit-scrollbar {
    width: 0.2em;
    height: 0.2em;
  }